* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  
}

.main {
  padding-top: 5px;
  background-color:rgb(225, 235, 235);
}
.biblio-title{
  text-align: center;
  text-transform:uppercase;
  font-weight: bold;
  color: rgb(57, 64, 87);
}
#sub-title{
  text-align: center;
  text-transform:uppercase;  
}
.catalogue {
  padding: 5px;
  margin: 5px;
  background-color:rgb(225, 235, 235);
  box-shadow: 2px 2px 2px 2px rgb(156, 155, 155);
}
.creatBookForm {
  border: 1px dotted green;
  padding: 10px;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
}

.authors {
  padding: 5px;
  margin: 5px;
  background-color:rgb(225, 235, 235);
  box-shadow: 2px 2px 2px 2px rgb(156, 155, 155);

}
.bookImage { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img {
  margin: 5px;
  background-color: rgb(225, 235, 235);
  
}

.searchForm {
  text-align: center;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
  width: 100%;
  margin-left: 0;
}

.createForm {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid green;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
}

.book {
  padding: 15px;
  background-color: rgb(225, 235, 235);
  margin-top: 10px;
  box-shadow: 1px 1px 1px 1px rgb(187, 187, 187);
  display: flex;
  justify-content: space-between;
}

.author {
  padding: 15px;
  background-color: rgb(225, 235, 235);
  margin-top: 10px;
  box-shadow: 1px 1px 1px 1px rgb(187, 187, 187);
  display: flex;
  justify-content: space-between;
}

.action{
  margin:0 5px;
}
.bookInfo{
  margin: 5px;
  
}
.authorInfo{
  margin: 5px;
}
.title-book-author{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.search-field {
  width: 120;
  margin: 0 15px;
  border:1px solid rgb(133, 132, 132);
  border-radius: 5px;
  height: 20px;
}

.search-button {
  border:1px solid rgb(133, 132, 132);
  border-radius: 5px;
  padding: 0 5px;
}

.ant-btn-primary {
  background-color: rgb(57, 64, 87) !important;
  border:1px solid rgb(43, 43, 43) !important;
}

.mini-img {
  width: 20px !important;
}
.important-message{
  color: green;
  font-style: italic;
  
}