* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  margin: 5px;
  border: 1px dotted green;
  font-family: "Courier New", Courier, monospace;
}
h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}
.books {
  padding: 5px;
  margin: 5px;
  border: 1px dotted green;
}
.creatBookForm {
  border: 1px dotted green;
  padding: 10px;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
}
.creatBookForm input {
  border-radius: 5px;
  border: 1px dotted green;
}
.authors {
  margin: 5px;
  padding: 5px;
  border: 1px dotted green;
  width: 50%;
}
.bookImage {
  margin: 5px;
  border: 1px dotted green;
}
.searchForm {
  border: 1px dotted green;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
}

.searchForm input,
select,
button {
  border-radius: 5px;
  border: 1px solid green;
}
.createForm input,
select,
button {
  border-radius: 5px;
  border: 1px solid green;
}

.createForm {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid green;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
}

.book {
  padding: 15px;
  border: 1px solid lightgray;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.author {
  padding: 15px;
  border: 1px solid lightgray;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
